<nav>
    <% if (options.target !== '/') { %><a href="/">Return to Index</a><% } %>
    <% if (options.target !== '/registration/add-users') { %><a href="/registration/add-users">Add Users</a><% } %>
</nav>