<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Administration Page</title>
        <link rel="stylesheet" type="text/css" href="../../global.css"/>
        <link rel="stylesheet" type="text/css" href="../../nav-bar.css"/>
    </head>
    <body>
