<%- include('fragments/header.ejs') %>
<nav>
   <a href="/">Back to Index</a>
</nav>
<div class="content">
   <h1>Create New User</h1>
   <form action="/admin/add-users" method="post">
      <label for="title">User Name</label>
      <input type="text" name="username" id="title">
      <button type="submit">Add</button>
   </form>
</div>
<%- include('fragments/footer.ejs') %>