* {
    font-family: sans-serif;
    color: darkgoldenrod;
}

body {
    margin: auto;
    width: 50%;
    min-width: 800px;
    background-color: aliceblue;
}

body .content {
    text-align: center;
}